CARDANO_DB_SYNC_VERSION=13.0.5
CARDANO_GRAPHQL_VERSION=7.0.2
CARDANO_NODE_VERSION=1.35.4
HASURA_PORT=8080
GRAPHQL_PORT=3100
OGMIOS_PORT=1337
OGMIOS_VERSION=v5.5.8
PLATFORM=linux/x86_64
NETWORK=mainnet
NEXT_PUBLIC_GRAPHQL='http://graphql'
NEXT_PUBLIC_GUN=
NEXT_PUBLIC_SUBMIT='https://tx.lidonation.com/'
POSTGRES_PORT=5432
POSTGRES_VERSION=11.8-alpine
RESTORE_SNAPSHOT=
ROUNDTABLE_PORT=3000


